In [542]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [543]:
movies = pd.read_csv('tmdb_5000_movies.csv')
credits = pd.read_csv('tmdb_5000_credits.csv')

In [544]:
movies = movies.merge(credits, on='title')

In [545]:
movies.shape

(4809, 23)

In [546]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4809 entries, 0 to 4808
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4809 non-null   int64
 1   genres                4809 non-null   object
 2   homepage              1713 non-null   object
 3   id                    4809 non-null   int64
 4   keywords              4809 non-null   object
 5   original_language     4809 non-null   object
 6   original_title        4809 non-null   object
 7   overview              4806 non-null   object
 8   popularity            4809 non-null   float64
 9   production_companies  4809 non-null   object
 10  production_countries  4809 non-null   object
 11  release_date          4808 non-null   object
 12  revenue               4809 non-null   int64
 13  runtime               4807 non-null   float64
 14  spoken_languages      4809 non-null   object
 15  status                4809 non-null   object
 16  tagline               3965 non-null   object
 17  title                 4809 non-null   object
 18  vote_average          4809 non-null   float64
 19  vote_count            4809 non-null   int64
 20  movie_id              4809 non-null   int64
 21  cast                  4809 non-null   object
 22  crew                  4809 non-null   object
dtypes: float64(3), int64(5), object(15)
memory usage: 864.2+ KB

In [547]:
movies = movies[['title','movie_id','genres','keywords','overview','production_companies','cast','crew']]

In [548]:
movies.shape

(4809, 8)

In [549]:
import ast

In [550]:
def extract(obj):
    L=[]
    for i in ast.literal_eval(obj):
        L.append(i['name'])
    return L

In [551]:
movies['genres'] = movies['genres'].apply(extract)

In [552]:
movies.isnull().sum()

title                   0
movie_id                0
genres                  0
keywords                0
overview                3
production_companies    0
cast                    0
crew                    0
dtype: int64

In [553]:
movies.dropna(inplace=True)

In [554]:
movies.isnull().sum()

title                   0
movie_id                0
genres                  0
keywords                0
overview                0
production_companies    0
cast                    0
crew                    0
dtype: int64

In [555]:
movies.head(1)

,title,movie_id,genres,keywords,overview,production_companies,cast,crew
0,Avatar,19995,"[Action, Adventure, Fantasy, Science Fiction]","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","In the 22nd century, a paraplegic Marine is di...","[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [556]:
movies['keywords'].head(1)

0    [{"id": 1463, "name": "culture clash"}, {"id":...
Name: keywords, dtype: object

In [557]:
movies['keywords']=movies['keywords'].apply(extract)

In [558]:
movies.head(1)

,title,movie_id,genres,keywords,overview,production_companies,cast,crew
0,Avatar,19995,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","In the 22nd century, a paraplegic Marine is di...","[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [559]:
movies['production_companies'][0]

'[{"name": "Ingenious Film Partners", "id": 289}, {"name": "Twentieth Century Fox Film Corporation", "id": 306}, {"name": "Dune Entertainment", "id": 444}, {"name": "Lightstorm Entertainment", "id": 574}]'

In [560]:
movies['production_companies'] = movies['production_companies'].apply(extract)

In [561]:
movies.head(1)

,title,movie_id,genres,keywords,overview,production_companies,cast,crew
0,Avatar,19995,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","In the 22nd century, a paraplegic Marine is di...","[Ingenious Film Partners, Twentieth Century Fo...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [562]:
def feacture_extraction_cast(str):
    feature = []
    dist = ast.literal_eval(str)
    for i in dist:
        feature.append(i['name'].replace(' ',''))
    return feature[0:3]

In [563]:
movies['cast'] = movies['cast'].apply(feacture_extraction_cast)

In [564]:
movies.head(1)

,title,movie_id,genres,keywords,overview,production_companies,cast,crew
0,Avatar,19995,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","In the 22nd century, a paraplegic Marine is di...","[Ingenious Film Partners, Twentieth Century Fo...","[SamWorthington, ZoeSaldana, SigourneyWeaver]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [565]:
def director_hai(arr):
    K=[]
    for i in ast.literal_eval(arr):
        if i['job'] == "Director":
            K.append(i['name'])
    return K

In [566]:
movies['crew'] = movies['crew'].apply(director_hai)

In [567]:
movies.head(1)

,title,movie_id,genres,keywords,overview,production_companies,cast,crew
0,Avatar,19995,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","In the 22nd century, a paraplegic Marine is di...","[Ingenious Film Partners, Twentieth Century Fo...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[James Cameron]

In [568]:
movies['overview'] = movies['overview'].apply(lambda x:x.split())

In [569]:
movies.head(1)

,title,movie_id,genres,keywords,overview,production_companies,cast,crew
0,Avatar,19995,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[In, the, 22nd, century,, a, paraplegic, Marin...","[Ingenious Film Partners, Twentieth Century Fo...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[James Cameron]

In [570]:
movies['genres'] = movies['genres'].apply(lambda x:[i.replace(" ","") for i in x])

In [571]:
movies['keywords'] = movies['keywords'].apply(lambda x:[i.replace(" ","") for i in x])

In [572]:
movies['overview'] = movies['overview'].apply(lambda x:[i.replace(" ","") for i in x])

In [573]:
movies['production_companies'] = movies['production_companies'].apply(lambda x:[i.replace(" ","") for i in x])

In [574]:
movies['cast'] = movies['cast'].apply(lambda x:[i.replace(" ","") for i in x])

In [575]:
movies['crew'] = movies['crew'].apply(lambda x:[i.replace(" ","") for i in x])

In [576]:
movies.head(1)

,title,movie_id,genres,keywords,overview,production_companies,cast,crew
0,Avatar,19995,"[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[In, the, 22nd, century,, a, paraplegic, Marin...","[IngeniousFilmPartners, TwentiethCenturyFoxFil...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]

In [577]:
movies['tags'] = movies['genres'] + movies['keywords'] + movies['overview'] + movies['production_companies'] + movies['cast'] + movies['crew']

In [578]:
movies.head(3)

,title,movie_id,genres,keywords,overview,production_companies,cast,crew,tags
0,Avatar,19995,"[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[In, the, 22nd, century,, a, paraplegic, Marin...","[IngeniousFilmPartners, TwentiethCenturyFoxFil...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],"[Action, Adventure, Fantasy, ScienceFiction, c..."
1,Pirates of the Caribbean: At World's End,285,"[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[Captain, Barbossa,, long, believed, to, be, d...","[WaltDisneyPictures, JerryBruckheimerFilms, Se...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski],"[Adventure, Fantasy, Action, ocean, drugabuse,..."
2,Spectre,206647,"[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[A, cryptic, message, from, Bond’s, past, send...","[ColumbiaPictures, Danjaq, B24]","[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes],"[Action, Adventure, Crime, spy, basedonnovel, ..."

In [579]:
new_df = movies[['title','movie_id','tags']]

In [580]:
import nltk
import nltk
import string
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()
stop_words = set(stopwords.words('english'))
punct = string.punctuation
print(punct)

!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~

In [581]:
def transformer(arr):
    word = []
    for i in arr:
        i = i.lower()
        temp = ''
        for x in i:
            if x not in punct:
                temp+=x
        if temp not in stop_words:
            temp = ps.stem(temp)
            word.append(temp)
    return word

In [582]:
new_df['tags'] = new_df['tags'].apply(transformer)

C:\Users\Yash Dalvi\AppData\Local\Temp\ipykernel_22836\938711020.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(transformer)

In [583]:
new_df['tags'] = new_df['tags'].apply(lambda x: ' '.join(x))

C:\Users\Yash Dalvi\AppData\Local\Temp\ipykernel_22836\895399174.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x: ' '.join(x))

In [584]:
new_df['tags'][0]

'action adventur fantasi sciencefict cultureclash futur spacewar spacecoloni societi spacetravel futurist romanc space alien tribe alienplanet cgi marin soldier battl loveaffair antiwar powerrel mindandsoul 3d 22nd centuri parapleg marin dispatch moon pandora uniqu mission becom torn follow order protect alien civil ingeniousfilmpartn twentiethcenturyfoxfilmcorpor duneentertain lightstormentertain samworthington zoesaldana sigourneyweav jamescameron'

In [585]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features = 5000 , stop_words = 'english')

In [586]:
vec = cv.fit_transform(new_df['tags']).toarray()
vec

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [587]:
from sklearn.metrics.pairwise import cosine_similarity

In [588]:
similarity = cosine_similarity(vec)

In [589]:
similarity

array([[1.        , 0.08134892, 0.08257228, ..., 0.06396021, 0.02469324,
        0.        ],
       [0.08134892, 1.        , 0.05970814, ..., 0.02312486, 0.        ,
        0.        ],
       [0.08257228, 0.05970814, 1.        , ..., 0.04694525, 0.        ,
        0.        ],
       ...,
       [0.06396021, 0.02312486, 0.04694525, ..., 1.        , 0.04211693,
        0.02187393],
       [0.02469324, 0.        , 0.        , ..., 0.04211693, 1.        ,
        0.02533473],
       [0.        , 0.        , 0.        , ..., 0.02187393, 0.02533473,
        1.        ]])

In [603]:
def mrs(movie):
    m_search = new_df['title'] == movie
    if m_search.any():
        m_ind = new_df[m_search].index[0]
        dist = similarity[m_ind]
        rec_movie = sorted(list(enumerate(dist)),reverse=True,key=lambda x:x[1])[1:6]
        for i in rec_movie:
            print(new_df.iloc[i[0]].title)
    else:
        print('No Such Movies Found In Records')

In [611]:
mrs('''The Avengers''')

Avengers: Age of Ultron
Iron Man 3
Captain America: Civil War
Ant-Man
Captain America: The First Avenger